<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <header class="hero">
            <h1>ASCII Art Web</h1>
        </header>

        <section class="card">

            <h2>{{ .Code }}</h2>

            <p>{{ .Message }}</p>

            <br>

            <a href="/">
                Return Home
            </a>

        </section>

    </div>

</body>

</html>